[user]
	name = RayhaanT
	email = tanweer.rayhaan@gmail.com
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[pull]
	rebase = false
[diff]
	tool = vimdiff
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    path = nvim
[difftool]
	prompt = false
